body {font-family: 'Spartan', sans-serif;
padding:20px 0 0 80px;}
h1 {color:hsl(300, 43%, 22%);}
h3 {color: white;
font-size: 10px;}
h4 {color: hsl(333, 80%, 67%);
font-size: 10px;}

.container {height: 350px;
position: relative;
top: 30px;}

.back-img {position: absolute;}

.container-one {
font-size: 15px;
width:25%;
padding-left: 20px;
 }

.container-one p {color:hsl(303, 10%, 53%);}

.container-two {
position: relative;
bottom: 210px;
left: 660px;}

.rank {
height: 40px;
width: 25%;
background-color: hsl(300, 24%, 96%);
color: hsl(300, 43%, 22%);
margin-bottom: 15px;
font-size: 10px;
font-weight: bold;
text-align: center;
padding-left: 25px;
padding-top: 10px;
border-radius: 8px;
}

.rank-two {
  position: relative;
  left: 20px;
}

.rank-three {
  position: relative;
  left: 40px;
}

.reviews {display: flex;
}
.review
{height: 200px;
width: 24%;
background-color: hsl(300, 43%, 22%);
/* margin: 0 40px; */
border-radius: 8px;
color: white;
font-size: .75rem;
line-height: 1.5;
padding: 15px 15px 0 15px;
}

.review-two {margin:0 20px;
position: relative;
top: 15px;}

.review-three {position: relative;
top: 30px;}
